.section:last-of-type {
    padding-bottom: 4rem;
}
/* hero background image */
.bgimage {
    height:100vh;
    background: url('port\ 1.jpg');
    background-size:cover;
    position:relative;
}
.navbar-brand{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:2px 3px 4px orange;
    font-style: italic;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: white;
}
.servicesText:hover {
    border: 4px solid white;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color:orange;
}
.fab {
    color:white;
    margin-right: 90px;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
.nav-item{
    margin-right: 70px;
    font-size: larger;
    font-weight: bold;
    text-align: right;
    font-style: oblique;
}
.full{
    background: url("or\ 2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    color: white;
}
.col-lg-8{
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
}
hr{
    height: 9px;
    background-color: white;
    width: 80%;
    margin-left: 170px; 
    border-radius: 10px; 
    opacity: 0.9;
    
}
#portfolio .card:hover{
    transition: all 0.4s ease-out;
    box-shadow: 0px 8px 10px rgba(38, 38, 38, 0.2);
    top: -20px;
    border: 9px solid white;
    background-color: lightgray;
}
#services .card{
   background-color:rgba(246, 246, 240, 0.25)
}
.card-text{
   font-size: larger;
   font-weight: bolder;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}
#services .card-title{
    text-decoration: underline solid white 3px;
    color: white;
}